{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: "Project ID"|t('google-cloud'),
    id: 'projectId',
    name: 'projectId',
    suggestEnvVars: true,
    value: fs.projectId,
    errors: fs.getErrors('projectId'),
    class: 'google-project-id',
    instructions: 'Your Google project ID'|t('google-cloud'),
    required: true
}) }}

{{ forms.autosuggestField({
    label: "Contents of the access key file"|t('google-cloud'),
    id: 'keyFileContents',
    name: 'keyFileContents',
    value: fs.keyFileContents,
    errors: fs.getErrors('keyFileContents'),
    class: 'google-key-file-contents',
    instructions: 'If you are using an environment variable, make sure the "\\n" characters in the RSA key are properly escaped. You can leave this blank if you set <a href="{link}">application default credentials</a>.'|t('google-cloud', {
        link: 'https://github.com/googleapis/google-auth-library-php#application-default-credentials'
    }),
    suggestEnvVars: true,
    rows: 8,
    cols: 50
}) }}

{% set bucketInput %}
    <div class="flex fullwidth">
        {{ forms.select({
        name: 'bucketSelectionMode',
        options: [
        { label: 'Choose…'|t('google-cloud'), value: 'choose' },
        { label: 'Manual…'|t('google-cloud'), value: 'manual' }
        ],
        value: fs.bucketSelectionMode,
        toggle: true,
        targetPrefix: '.bsm-'
        }) }}

        <div class="bsm-choose{% if fs.bucketSelectionMode == 'manual' %} hidden{% endif %}">
            {{ forms.select({
            id: 'bucket',
            name: 'bucket',
            options: { (fs.bucket): fs.bucket },
            value: fs.bucketSelectionMode == 'manual' ? fs.bucket,
            readonly: true,
            class: 'google-bucket-select'
            }) }}
        </div>
        <div class="bsm-choose{% if fs.bucketSelectionMode == 'manual' %} hidden{% endif %}">
            <div class="btn google-refresh-buckets">{{ "Refresh"|t('google-cloud') }}</div>
        </div>
        <div class="bsm-choose{% if fs.bucketSelectionMode == 'manual' %} hidden{% endif %}">
            <div class="spinner hidden"></div>
        </div>

        <div class="bsm-manual{% if fs.bucketSelectionMode == 'choose' %} hidden{% endif %} flex-grow">
            {{ forms.autosuggest({
            label: "Bucket"|t('google-cloud'),
            class: 'ltr google-manualBucket',
            name: 'manualBucket',
            suggestEnvVars: true,
            value: fs.bucket,
            placeholder: 'Bucket'|t('google-cloud')
            }) }}
        </div>
    </div>
{% endset %}

{{ forms.field({
    label: "Bucket"|t('google-cloud'),
    id: 'bucket',
    required: true,
    errors: fs.getErrors('bucket'),
}, bucketInput) }}


<div class="field">
    <div class="heading">
        <label for="visibility">{{ "Visibility"|t('google-cloud') }}</label>
        <div class="instructions">{{ "The default visibility setting to apply to new files."|t('google-cloud') }}</div>
    </div>
    {{ forms.select({
        name: 'visibility',
        options: [
        { label: 'Default'|t('google-cloud'), value: '' },
        { label: 'Public'|t('google-cloud'), value: 'public' },
        { label: 'Private'|t('google-cloud'), value: 'private' }
        ],
        value: fs.visibility,
    }) }}
</div>

{{ forms.autosuggestField({
    label: "Subfolder"|t('google-cloud'),
    instructions: "If you want to use a bucket’s subfolder as a fs, specify the path to use here."|t('google-cloud'),
    id: 'subfolder',
    class: 'ltr',
    name: 'subfolder',
    suggestEnvVars: true,
    value: fs.subfolder,
    errors: fs.getErrors('subfolder'),
    required: false,
    placeholder: "path/to/subfolder"|t('google-cloud')
}) }}

<hr>

{% set cacheInput %}
    {% set expires = (fs.expires|length > 0 ? fs.expires|split(' ') : ['', ''])%}

    <div class="flex">
        <div>
            {{ forms.textField({
                id: 'expiresAmount',
                value: expires[0],
                size: 2,
                class: 'google-expires-amount'
            }) }}
        </div>
        {{ forms.select({
            id: 'expiresPeriod',
            options: periods,
            value: expires[1],
            class: 'google-expires-period'
        }) }}
    </div>
    {{ forms.hidden({
        name: "expires",
        value: fs.expires,
        class: "expires-combined"
    }) }}
{% endset %}

{{ forms.field({
    label: "Cache Duration"|t('google-cloud'),
    instructions: "The Cache-Control duration that assets should be uploaded to the cloud with.",
    id: 'cacheDuration',
}, cacheInput) }}

{% do view.registerAssetBundle("craft\\googlecloud\\GoogleCloudBundle") %}
